@font-face {
  font-family: "Expend Bold";
  src: url("./assets/fonts/expend.bold.woff2") format("woff2"),
    url("./assets/fonts/expend.bold.woff") format("woff"),
    url("./assets/fonts/expend.bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/Gotham-Bold.woff2") format("woff2"),
    url("./assets/fonts/Gotham-Bold.woff") format("woff"),
    url("./assets/fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Book";
  src: url("./assets/fonts/Gotham-Book.woff2") format("woff2"),
    url("./assets/fonts/Gotham-Book.woff") format("woff"),
    url("./assets/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("./assets/fonts/Gotham-Medium.woff2") format("woff2"),
    url("./assets/fonts/Gotham-Medium.woff") format("woff"),
    url("./assets/fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.swiper-pagination-bullet-active {
  background-color: gray;
}
